@import "../../../bower_components/font-awesome/less/font-awesome";
@import "../../../bower_components/semantic/build/less/elements/image";
@import "../../../bower_components/semantic/build/less/views/list";
@import "../../less/variables";

ui-user-profile {
  display: block;
  opacity: 0.9;
  .ui.image {
    display: inline-block !important;
    float: none !important;
  }
  &:hover {
    opacity: 1.0;
  }
}
