@import "../../../bower_components/font-awesome/less/font-awesome";
@import "../../../bower_components/semantic/build/less/elements/image";
@import "../../../bower_components/semantic/build/less/views/list";
@import "../../less/variables";

ui-user-profile {
  display: flex;
  align-items: center;
  opacity: 0.9;
  .red {
    color: @red;
  }
  .green {
    color: @green;
  }
  .ui.image {
    margin: 0 0 0 0.6em;
    display: inline-block;
    float: none;
  }
  .content {
    display: inline-block;
    margin: 0 0 0 0.6em;
  }
  &:hover {
    opacity: 1.0;
  }
}

ui-user-profile-github-gravatar {
  display: inline-block;
  a {
    padding: .15em !important;
  }
}
