@import "../../../bower_components/font-awesome/less/font-awesome";
@import '../../../bower_components/semantic/build/less/collections/menu.less';
@import '../../../bower_components/semantic/build/less/modules/popup.less';
@import "../../less/variables";

.@{fa-css-prefix}-rotate-135 { .fa-icon-rotate(135deg, 2); }

ui-toolbar {
  .ui.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    margin-right: 0.5em;
  }
}

ui-toolbar-pad {
  display: inline-block;
  flex: 1;
}

ui-toggle-tool {
  display: inline-block;
  .label.count-0 {
    display:none;
  }
}

.item {
  .fa-stack {
    margin: -0.5em;
  }
}

.disabled {
  font-size: 1.7em;
  min-width: 100%;
  text-align: center;
  color: #ef272d;
  &:before {
    content:'/';
  }
}
