//Start from here and include all your other modules
@import "../less/normalize";
@import "../less/variables";
@import "../../bower_components/font-awesome/less/font-awesome";
@import '../../bower_components/semantic-ui/src/collections/menu.less';
@import '../../bower_components/semantic-ui/src/elements/label.less';


html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background-color: @roomBackgroundColor;
  min-height: 100%;
}

.tile {
  background-color: @tileBackgroundColor;
  border-radius: @borderRadius;
  padding: @padding;
  margin: @margin;
  border: 1px solid;
  border-color: darken(@tileBackgroundColor, 2%);
}

conference-room {
  .calls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

inbound-video-call, outbound-video-call {
  display: block;
  .gravatar {
    margin: @margin;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: @borderRadius;
  }
  section {
    position: relative;
  }
}
