@import '../variables';

.background {
  border: @border;
  display: inline-block;
}

.highlight {
  background: @highlightBorderColor;
  display: inline-block;
}

video {
 padding: @pad;
 border: @border;
 background: @borderColor;
}
