//Styles that will be tacked on to detected gravatars
@import "font-awesome/font-awesome";
@black: #111111;
@lessblack: #666666;

.callable {
  background: transparent;
  color: @black;
  font-size: 1.1em;
  transition: color 0.2s ease;
  margin: 1px;
  &:hover {
   color: @lessblack;
  }
}
