//Styles that will be tacked on to detected gravatars
@import "variables";
@import "font-awesome/font-awesome";

.video-call {
  display: inline;
  background: transparent;
  color: @tileBackgroundColor;
  transition: color 0.2s ease;
  font-size: 18px;
  margin: .2rem;
  &:hover {
   color: lighten(@tileBackgroundColor, 25%);
  }
}

.callable {
  position: relative;
}

.called {
  float: none !important;
  position: relative;
}
