//Start from here and include all your other modules
@import "normalize";
@import "variables";
@import "font-awesome/font-awesome";
@import '../../vendor/semantic-ui/less/collections/menu.less';

.font-face (@family, @file-base, @weight: normal, @style: normal) {
  @font-face {
    font-family: @family;
    src: url("@{file-base}.eot");
    font-weight: @weight;
    font-style: @style;
  }
}
.font-face("FontAwesome", "fonts/fontawesome-webfont", "normal", "normal");
.@{fa-css-prefix}-rotate-135 { .fa-icon-rotate(135deg, 2); }

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @tileBackgroundColor;
  border-radius: @borderRadius;
  padding: @padding;
  margin: @margin;
  border: 1px solid;
  border-color: darken(@tileBackgroundColor, 2%);
  video {
    display: block;
    margin-bottom: @margin;
  }
}

.video {
  max-width: 326px;
}


conference-room {
  background-color: @roomBackgroundColor;
  display: flex;
  min-height: 100%;

  .calls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
