@borderRadius: 0.1875rem;
@padding: .2em;
@margin: .2em;
@tileBackgroundColor: #333;
@roomBackgroundColor: fade(#333, 98%);
@transition: 0.2s ease;
@black: #111;


.icon {
  .fa {
    vertical-align: text-bottom;
    font-family: FontAwesome;
  }
}

.ui.inverted.sidebar {
  .ui.left.icon.input > .icon {
    opacity: 1;
    color: rgb(255,255,255);
  }
}

