@import "../less/normalize.less";
@import "../less/variables.less";
@import "../../bower_components/open-sans-fontface/open-sans.less";
@import "../../bower_components/font-awesome/less/font-awesome.less";

//override these variables *after* we include
@fa-font-path: "bower_components/font-awesome/fonts";
@OpenSansPath: "bower_components/open-sans-fontface/fonts";

html,
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial;
  margin:0;
  padding:0;
  height:100%;
  font-size: 15px;
}

body {
  background-color: @roomBackgroundColor;
  min-height: 100%;
}

#loading {
  position: absolute;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 10%
}

.ui.input input {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial !important;
}
