@import "../../../bower_components/font-awesome/less/font-awesome";
@import '../../../bower_components/semantic/build/less/collections/message.less';
@import "../../less/variables";
@import "../../less/grid";

.tile {
  background-color: @tileBackgroundColor;
  border-radius: @borderRadius;
  padding: @padding;
  margin: @margin;
  border: 1px solid;
  border-color: darken(@tileBackgroundColor, 2%);
}

conference-room {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  chat-box {
    color: #111;
  }
  .calls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
  }
  ui-sidebar {
    ul {
      .ui.list {
        margin: 0;
        padding: 0;
      }
      li:before {
        content: '' !important;
      }
      li {
        padding: 0.3em 0 0 0 !important;
      }
    }
  }
  ul.ui.list {
    li.message.item {
      &:before {
        content: '';
      }
    }
  }
  .ui.icon.signin.message {
    text-decoration: none;
    .icon.fa {
      opacity: 1;
    }
    .header {
      color: #ef272d;
    }
    .action.header {
      text-decoration: underline;
    }
  }
}

inbound-video-call, outbound-video-call {
  display: block;
  margin: 2em;
  .gravatar {
    margin: @margin;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: @borderRadius;
  }
  section {
    position: relative;
  }
}
