@import "../../../bower_components/font-awesome/less/font-awesome";
@import '../../../bower_components/semantic/build/less/collections/message';
@import "../../../bower_components/semantic/build/less/collections/form";
@import "../../../bower_components/semantic/build/less/elements/input";
@import "../../../bower_components/semantic/build/less/elements/icon";
@import "../../../bower_components/semantic/build/less/elements/label";
@import "../../less/variables";

.tile {
  background-color: transparent;
  margin: 1em;
  flex: 1;
  box-sizing: border-box;
}

.tile.video {
  min-height: 10%;
  max-height: 46%;
  min-width: 10%;
  max-width: 46%;
}

.tile.screen {
  min-height: 5%;
  max-height: 15%;
  min-width: 5%;
  max-width: 15%;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  chat-box {
    color: #111;
  }
  .main {
    flex: 1;
  }
  .calls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
  }
  .screens {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    .snapshot {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .notices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
  }
  .ui.notice {
    border-radius: 0;
  }
  .ui.large.form {
    input {
      border-radius: 0;
    }
  }
  .ui.form.inverted {
    font-size: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .ui.field {
      margin: 0;
      .fa.icon {
        padding: 0;
        font-size: 1.25rem;
        line-height: 2.25rem;
      }
    }
    input {
      color: @white;
      padding: 0.5em 0.6em;
      background: @black;
      border-radius: 0;
      &:focus {
        color: @white;
      }
    }
  }
  ui-sidebar {
    ul {
      .ui.list {
        margin: 0;
        padding: 0;
      }
      li:before {
        content: '' !important;
      }
    }
    ul.friend.list {
      li {
        padding: 0.3em 0 0 0;
      }
    }
  }
  ul.ui.list {
    li.message.item {
      &:before {
        content: '';
      }
    }
  }
  .ui.icon.signin.message {
    text-decoration: none;
    .icon.fa {
      opacity: 1;
    }
    .header {
      color: #ef272d;
    }
    .action.header {
      text-decoration: underline;
    }
  }

  .room-selector {
    display:none;
    position: initial;
  }

  .room-selector.full {
    display:block;
    margin: 2em 15% 0;
    .ui.form label {
      display:none;
    }

    .circular.checkmark.icon {
      -webkit-transition: opacity .5s;
      opacity: 1 !important;
      &.hidden {
        opacity: 0 !important;
      }
    }
  }
}
