@import "../../less/variables";


ui-sidebar {
  display: flex;
  width: 25%;
  min-width: 20em;
  height: 100%;
  z-index: 1000;
  #display {
    width: 100%;
    height: 100%;
  }
  .ui.sidebar {
    > ul {
      padding: 0;
    }
  }
  -webkit-animation: showing 1s;
  .ui.floating.left {
    -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  }
  .ui.floating.right {
    -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
  }
}
.narrow {
  width: 18em;
}
.dropdown {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  background-color: @dropdownBackgroundColor;
}

ui-mainbar {
  display: block;
  height: 100%;
  flex: 1;
}


