@import "../../../bower_components/font-awesome/less/font-awesome";
@import '../../../bower_components/semantic/build/less/elements/label.less';
@import "../../less/variables";

audio-control {
  display: block;
}

video-control {
  display: block;
}

local-video {
  display: block;
}

ui-video-stream {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  .mirror {
    -webkit-transform: scaleX(-1);
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .muted {
    -webkit-filter: grayscale(90%);
  }
  video {
    display: block;
    width: 100%;
    height: 100%;
  }
  canvas {
    display: none;
    width: 100%;
    height: 100%;
  }
  #loading {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    opacity: @nearlyOpaque;
  }
}
