@import "../../../bower_components/font-awesome/less/font-awesome";
@import '../../../bower_components/semantic/build/less/collections/menu.less';
@import '../../../bower_components/semantic/build/less/elements/label.less';
@import '../../../bower_components/semantic/build/less/elements/loader.less';
@import "../../less/variables";

audio-control {
  display: block;
}

video-control {
  display: block;
}

local-video {
  display: block;
}

ui-video-stream {
  display: block;
  position: relative;
  video {
    display: block;
    margin-bottom: @margin;
    -webkit-mask-image: url('avatar-mask.svg');
    //this is in pixels, it doesn't really make sense to me to scale this
    //relative to the font
    width: 300px;
    height: 225px
  }
  canvas {
    display: none;
  }
  img {
    -webkit-mask-image: url('avatar-mask.svg');
    -webkit-filter: grayscale(90%);
    //this is in pixels, it doesn't really make sense to me to scale this
    //relative to the font
    width: 300px;
    height: 225px
  }
}
